@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-disabled {
    opacity: 0.5;
}

.thumbs-slider .swiper-slide-thumb-active {
    color: #434bed;
}

.thumbs-slider .swiper-slide-thumb-active .progress{
    width: 100% !important;
}

.thumbs-slider .swiper-slide-thumb-active .image{
    opacity: 100% !important;
}

.swiper-thumbnail-slider .swiper-slide-active .overlay{
    opacity: 0 !important;
}

.projects ~ .scroll-to-top-button {
    display: none;
}